body {
  font: 20px/1.5, 'Varela Round', Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
  box-sizing: border-box;
  height: 100%;
}

/* html {
	height: 100%;
} */

/* Globals */
.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  min-height: 100%;
}

.banner {
  float: left;
  background: url(../public/backg2.jpg) no-repeat scroll center center / cover;
  height: 100vh;
  position: absolute;
  width: 100%;
  display: table;
}

ul {
  margin: 0;
  padding: 0;
}

/* Header */
.header-bar {
  background: #c5515a;
  color: #ffffff;
  /*padding-top: 10px;*/
  min-height: 40px;
  border-bottom: #ffffff 3px solid;
  width: 100%;
}

.nav-menu {
  padding-top: 20px;
  padding-bottom: 20px;
}

header nav {
  float: right;
  /*margin-top: 15px;*/
  display: inline;
  /*width: 50%;*/
}

header li {
  float: left;
  display: inline;
  padding: 0 10px 0 10px;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  display: inline;
}

header .highlight a {
  color: #0a2463;
}

header a:hover {
  /*background-color: red;*/
  /*color: #FFFD98;*/
  font-weight: bold;
}

.headline-text {
  margin-top: 20%;
  /*margin: 0 auto;*/
  color: #ffffff;
  font-size: 40px;
  text-align: center;
}

.button_1 {
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background: #c5515a;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.button_1:hover {
  background: #003366;
  color: #fffd98;
}

.btn {
  height: 30px;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  background: #c5515a;
  border: 0;
  border-radius: 4px;
}

.btn:hover {
  background-color: #f8f8f8;
  color: #c5515a;
}

.btn-2 {
  height: 30px;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  background: #f8f8f8;
  color: #c5515a;
  border: 0;
  border-radius: 4px;
}

.btn-2:hover {
  background-color: #d1d1d1;
  color: #c5515a;
}

.btn-3 {
  height: 50px;
  padding: 13px 25px;
  background: #c5515a;
  color: #fff;
  font-size: 25px;
  /*font-weight: bold;*/
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  margin: 0px auto;
}

.btn-3:hover {
  background-color: #9c3a3a;
  color: #fff;
}

.btn-4 {
  height: 30px;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  background: #00ff00;
  border: 0;
  border-radius: 4px;
}

.btn-5 {
  height: 30px;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  background: #c5515a;
  border: 0;
  border-radius: 4px;
}

.btn:hover {
  background-color: #f8f8f8;
  color: #c5515a;
}

.form-element-2 {
  margin-bottom: 15px;
  line-height: 1.42857;
  margin-right: 0.5px;
  margin-left: 20px;
}

/* text */
.top-text {
  text-align: center;
}

.top-text h1 {
  margin-top: 60px;
}

.login-text {
  text-align: center;
  padding-bottom: 90px;
}

/* form */
.signup {
  width: 50%;
  text-align: left;
  margin: 0px auto;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #eeeeee;
  border-radius: none;
  background: url('../images/placeholder_200.png');
  /* background: #ffffff; */
}

form {
  display: block;
}

.form-element {
  margin-bottom: 15px;
  line-height: 1.42857;
  padding: 10px 20px;
}

.form-element-2 {
  margin-bottom: 15px;
  line-height: 1.42857;
}

label {
  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom: 3px;
  font-size: 14px;
  clear: both;
  text-transform: capitalize;
  width: 100%;
}

form input {
  border-radius: 3px;
  border: 1px solid #e1e1e1;
  padding: 10px;
  font-size: 15px;
  background: #fff;
  margin-bottom: 10px;
  width: 100%;
  display: block;
  float: left;
}

/* card */
.card {
  width: 30%;
  float: left;
  background-color: #fff;
  padding: 0px 0px 10px 0px !important;
  margin-left: 25px;
  min-height: 300px !important;
  margin-bottom: 65px;
  box-shadow: 6px 6px 10px #888;
  border-radius: 7px;
}

.food-item-card {
  width: 40%;
  float: left;
  background-color: #fff;
  padding: 0px 0px 10px 0px !important;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 25px;
  min-height: 300px !important;
  margin-bottom: 60px;
  box-shadow: 6px 6px 10px #888;
  border-radius: 7px;
}

.imgbox {
  background-size: cover;
  text-align: -webkit-center;
  height: 215px;
  overflow: hidden;
}

.top-text-menu {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  margin: 20px;
}

.top-text-menu p {
  margin: 0px;
}

.food-item-info {
  padding-top: 10px;
  display: block;
}

.food-item {
  font-weight: bold;
  font-size: 16px;
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
}

.food-item-price {
  display: inline;
  float: right;
  margin-right: 20px;
  font-size: 16px;
}

.food-item-btn {
  margin-left: 20px;
  display: block;
  float: right;
}

.pre-order-btn {
  padding: 4px 10px;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #c5515a;
  color: #fff;
}

.container-admin {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  min-height: 100%;
  display: table;
}

/* sidebar */
.sidebar {
  display: table-cell;
  vertical-align: top;
  width: 20%;
  background-color: #6c757d;
  margin-top: 70px;
  z-index: 10;
  top: 0px;
  bottom: 0;
  height: 100%;
}

.sidebar nav {
  padding-top: 10px;
}

.sidebar nav a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 16px 20px;
  font-weight: 400px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.sidebar nav a:hover {
  background: #4863a0;
  border-left: 5px solid #a18648;
}

.sidebar nav a.active {
  background-color: #4863a0;
  border-left: 5px solid #a18648;
}

.sidebar nav a .fa {
  margin-right: 15px;
  font-size: 1.5em;
  display: inline-block;
  width: 30px;
  position: relative;
  top: 2px;
}

.content-area {
  width: 80%;
  display: table-cell;
  vertical-align: top;
  height: 100vh;
  /* padding: 10px; */
  background: url('../images/placeholder_200.png');
}

.main {
  /* display: table-cell; */
  background: #fff;
  padding: 20px;
  /* margin: -20px; */
}

.top-main a {
  background: #fff;
  float: right;
  text-decoration: none;
}

.order-section {
  width: 100%;
  display: table-cell;
  vertical-align: top;
  float: left;
}

.order-card {
  width: 25%;
  float: left;
  background-color: #fff;
  padding: 5px 10px 5px 10px !important;
  margin-top: 10px;
  margin-left: 35px;
  min-height: 320px !important;
  margin-bottom: 65px;
  box-shadow: 6px 6px 10px #888;
  border-radius: 7px;
}

.order-card p {
  text-transform: uppercase;
}

.complete {
  float: right;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #f5f5f5;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #fcf9f9;
  width: 60%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn_success {
  height: 25px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background: #51c551;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  text-align: center;
}

.btn_success:hover {
  background: #28a745;
  color: #fff;
}

.btn_primary {
  height: 25px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background: #007bff;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  text-align: center;
}

.btn_primary:hover {
  background: #01264e;
  color: #ffffff;
}

.btn_danger {
  height: 25px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background: #f3394b;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  text-align: center;
}

.btn_danger:hover {
  background: #dc3545;
  color: #fff;
}

.btn_danger_2 {
  height: 25px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background: #f3394b;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  text-align: center;
}

.btn_danger_2:hover {
  background: #dc3545;
  color: #fff;
}

.btn_complete {
  height: 25px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background: #007bff;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  text-align: center;
}

.btn_complete:hover {
  background: #0152a8;
  color: #fff;
}

.item-btn {
  width: 90%;
  margin: 10px auto;
}

/* profile */
.profile-img {
  display: block;
  margin: 0 auto;
}

.profile-text {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

.profile-text-2 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

.profile-info {
  display: inline;
  float: right;
}

/* footer */
footer {
  padding: 5px;
  padding-bottom: 10px;
  /* margin-top: 20px; */
  width: 100%;
  color: #ffffff;
  background-color: #c5515a;
  text-align: center;
  bottom: 0;
  left: 0;
  clear: both;
  position: fixed;
  z-index: -10px;
}

/* media Queries */
/* .container {
	width: 80%;
	margin: auto;
	overflow: visible;
	min-height: 100%;
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 0px 0px 10px 0px !important;
    margin-left: 5px;
    min-height: 300px !important;
    margin-bottom: 45px;
    box-shadow: 6px 6px 10px #888;
    border-radius: 7px;
  }

  .nav-menu {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  header nav {
    float: right;
    /*margin-top: 15px;*/
    display: inline;
    /*width: 50%;*/
  }

  header a {
    display: inline;
  }

  header li {
    float: left;
    display: inline;
    padding: 0 2px 0 2px;
  }

  /* admin sidebar */
  .sidebar {
    /* float: left; */
    display: none;
    vertical-align: top;
    width: 20%;
    background-color: #6c757d;
    /* position: relative; */
    margin-top: 70px;
    z-index: 10;
    top: 0px;
    bottom: 0;
    height: 100%;
  }

  .sidebar nav {
    padding-top: 10px;
  }

  .sidebar nav a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 16px 20px;
    font-weight: 400px;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
  }

  .sidebar nav a:hover {
    background: #4863a0;
    border-left: 5px solid #a18648;
  }

  .sidebar nav a.active {
    background-color: #4863a0;
    border-left: 5px solid #a18648;
  }

  .sidebar nav a .fa {
    margin-right: 15px;
    font-size: 1.5em;
    display: inline-block;
    width: 30px;
    position: relative;
    top: 2px;
  }

  .top-main .fa {
    color: #c5515a;
  }

  .sm-menu {
    background-color: #6c757d;
    display: none;
  }

  .sm-menu-item {
    width: 100%;
    margin-top: 5px;
  }

  .sm-menu-item a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px 5px;
    font-size: 12px;
    transition: all 0.2s ease-in-out;
  }

  .sm-menu a:hover {
    background: #4863a0;
    border-left: 5px solid #a18648;
  }

  .sm-menu a.active {
    background-color: #4863a0;
    /* border-left: 5px solid #A18648; */
  }

  .sm-menu a .fa {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.5em;
    display: inline-block;
    width: 30px;
    /* position: relative;
		top: 2px; */
  }

  .main {
    /* display: table-cell; */
    background: #fff;
    padding: 20px;
    /* margin: -20px; */
  }

  /* order section */
  .order-section {
    width: 100%;
    display: table-cell;
    vertical-align: top;
    float: left;
  }

  /* order card */
  .order-card {
    width: 80%;
    float: left;
    background-color: #fff;
    padding: 5px 5px 5px 15px !important;
    margin-top: 10px;
    margin-left: 15px;
    min-height: 300px !important;
    margin-bottom: 65px;
    box-shadow: 6px 6px 10px #888;
    border-radius: 7px;
  }

  .food-item-card {
    width: 70%;
    float: left;
    background-color: #fff;
    padding: 0px 0px 10px 0px !important;
    margin-left: 25px;
    min-height: 300px !important;
    margin-bottom: 65px;
    box-shadow: 6px 6px 10px #888;
    border-radius: 7px;
  }

  .profile-card {
    width: 75%;
    /* float: left; */
    background-color: #fff;
    padding: 20px 0px 10px 55px !important;
    margin: 20px auto;
    min-height: 100px !important;
    margin-bottom: 45px;
    box-shadow: 6px 6px 10px #888;
    border-radius: 6px;
    /* color: red; */
  }

  .profile-card-item {
    background-color: #fff;
    padding: 0px 0px 10px 20px !important;
    margin: 0px auto;
  }

  .profile-card p {
    font-size: 16px;
    padding-left: 20px;
  }
  .profile-card label {
    font-size: 14px;
    padding-left: 20px;
  }

  .profile-card button {
    margin-left: 20px;
  }

  .history-order-card {
    width: 80%;
    float: left;
    background-color: #fff;
    padding: 5px 5px 5px 15px !important;
    margin-top: 10px;
    margin-left: 20px;
    min-height: 100px !important;
    margin-bottom: 30px;
    box-shadow: 6px 6px 10px #888;
    border-radius: 7px;
  }

  .signup-2 {
    width: 90%;
    text-align: left;
    margin: 10px auto;
    padding-left: 3px;
    padding-right: 20px;
    border: 1px solid #b4b4b4;
    background-color: #f4f4f4;
  }

  footer {
    padding: 10px;
    margin-top: 30px;
    width: 100%;
    color: #ffffff;
    background-color: #c5515a;
    text-align: center;
    bottom: 0;
    clear: both;
    position: fixed;
  }
}

@media only screen and (min-width: 601px) {
  .card {
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 0px 0px 10px 0px !important;
    margin-left: 5px;
    min-height: 300px !important;
    margin-bottom: 45px;
    box-shadow: 6px 6px 10px #888;
    border-radius: 7px;
  }

  .nav-menu {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  header nav {
    float: right;
    /*margin-top: 15px;*/
    display: inline;
    /*width: 50%;*/
  }

  header a {
    display: inline;
  }

  header li {
    float: left;
    display: inline;
    padding: 0 2px 0 2px;
  }

  /* order card */
  .order-card {
    width: 80%;
    float: left;
    background-color: #fff;
    padding: 5px 5px 5px 15px !important;
    margin-top: 10px;
    margin-left: 25px;
    min-height: 300px !important;
    margin-bottom: 65px;
    box-shadow: 6px 6px 10px #888;
    border-radius: 7px;
  }

  footer {
    padding: 10px;
    /* margin-top: 30px; */
    width: 100%;
    color: #ffffff;
    background-color: #c5515a;
    text-align: center;
    bottom: 0;
    clear: both;
    position: fixed;
  }
}

@media only screen and (min-width: 992px) {
  .card {
    width: 30%;
    float: left;
    background-color: #fff;
    padding: 0px 0px 10px 0px !important;
    margin-left: 25px;
    min-height: 300px !important;
    margin-bottom: 45px;
    box-shadow: 6px 6px 10px #888;
    border-radius: 7px;
  }

  .profile-card {
    width: 30%;
    /* float: left; */
    background-color: #fff;
    padding: 20px 0px 10px 100px !important;
    margin: 20px auto;
    min-height: 100px !important;
    margin-bottom: 45px;
    box-shadow: 6px 6px 10px #888;
    border-radius: 6px;
    /* color: red; */
  }

  .profile-card-item {
    background-color: #fff;
    padding: 0px 0px 10px 20px !important;
    margin: 0px auto;
  }

  .profile-card p {
    font-size: 16px;
    padding-left: 20px;
  }

  .profile-card label {
    font-size: 14px;
    padding-left: 20px;
  }

  .profile-card button {
    margin-left: 20px;
  }

  .nav-menu {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  header nav {
    float: right;
    /*margin-top: 15px;*/
    display: inline;
    /*width: 50%;*/
  }

  header a {
    display: inline;
  }

  header li {
    float: left;
    display: inline;
    padding: 0 2px 0 2px;
  }

  .sm-menu {
    display: none;
  }

  .top-main .fa {
    display: none;
  }

  /* order card */
  .order-card {
    width: 40%;
    float: left;
    background-color: #fff;
    padding: 5px 5px 5px 15px !important;
    margin-top: 10px;
    margin-left: 25px;
    min-height: 300px !important;
    margin-bottom: 65px;
    box-shadow: 6px 6px 10px #888;
    border-radius: 7px;
  }

  .history-order-card {
    width: 40%;
    float: left;
    background-color: #fff;
    padding: 5px 5px 5px 15px !important;
    margin-top: 10px;
    margin-left: 40px;
    min-height: 100px !important;
    margin-bottom: 30px;
    box-shadow: 6px 6px 10px #888;
    border-radius: 7px;
  }

  footer {
    padding: 10px;
    /* margin-top: 30px; */
    width: 100%;
    color: #ffffff;
    background-color: #c5515a;
    text-align: center;
    bottom: 0;
    clear: both;
    position: fixed;
    z-index: -10px;
  }
}

@media (min-width: 768px) {
  .signup {
    width: 27%;
    text-align: left;
    margin: 0px auto;
    margin-top: 20px;
    padding-left: 10px;
    border: 1px solid #b4b4b4;
  }

  .signup-2 {
    width: 40%;
    text-align: left;
    margin: 20px auto;
    padding-left: 10px;
    padding-right: 30px;
    border: 1px solid #b4b4b4;
    background-color: #f4f4f4;
  }
}
/* 
@media(max-width: 768px){
	footer {
		padding: 10px;
		margin-top: 20px;
		width: 100%;
		color: #ffffff;
		background-color: #c5515a; 
		text-align: center;
		bottom: 0;
		clear: both;
  	position: relative;
	}

} */
